<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Gerer</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href='/public/stylesheets/style.css'>
    <style>
        body 		{ padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <header>
        <% include nav %>
    </header>
    <div class="page-header text-center">
        <h1> Edit Task</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <% for(var i = 0; i < info.length; ++i) { %>
        <div class="col-sm-12">
            <div class="well">
                <form action="/edit/<%= info[i]._id %>" method="post">
                    <div class="form-group">
                        <label>Task Name</label>
                        <input type="text" class="form-control" name="name" value="<%= info[i].task.name %>">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" cols="50" class="form-control" name="description" ><%= info[i].task.description %></textarea>
                    </div>
                    <div class="form-group">
                        <label>Employee</label>
                        <select type="text" class="form-control" name="employee" >
                            <% for(var i = 0; i < users.length; ++i) { %>
                            <option value="<%= users[i].local.email %>"  id="opt"><%= users[i].local.email %></option>
                            <% } %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Save</button>
                </form>

            </div>
        </div>
        <% } %>
    </div>

</div>


</body>
</html>